
<div class="row">
    <div class="col-12 col-md-12 md-offset-2">
        <p>new account works!</p>
        <div class="form-group mb-3" >
            <label  class="mb-3"> Account Name</label>
            <input 
            type="text" class=" input-group form-group"
            #accountName>
        </div>
        <div class=" form-group mb-3">
            <select class="form-controlc custom-select" #status>
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
                <option value="hidden">Hidden</option>
            </select>
        </div>
        <button
        class="btn btn-primary"
        (click)="onCreateAccount(accountName.value, status.value)">
        Add Account

        </button>
    </div>
</div>
