  <div class="card row mb-4">
    <div class="col-12 col-md-8 md-offset-2 mb-3">
      <h5 class="mt-3">{{account.name}}</h5>
      <hr>
      <p>this account is {{account.status}}</p>
      <button class="btn btn-outline-secondary me-2" (click)="onSetTo('active')"> set to 'active</button>
      <button class="btn btn-outline-secondary me-2" (click)="onSetTo('inactive')">set to 'inactive'</button>
      <button class="btn btn-outline-secondary" (click)="onSetTo('hidden')">set to 'unknown'</button>

    </div>
  </div>
